<!-- DEPRECATED WIDGET! DON'T USE IT! -->
<div class="widget-search widget">
	<form class="widget-search__form" role="search" method="get" action="https://duckduckgo.com/">
		<label>
			<input class="widget-search__field" type="search" placeholder="{{ T "search_placeholder" }}" value="" name="q" aria-label="{{ T "search_placeholder" }}">
		</label>
		<input class="widget-search__submit" type="submit" value="Search">
		<input type="hidden" name="sites" value="{{ .Site.BaseURL }}"/>
	</form>
</div>