{{- $translations := .Site.Home.AllTranslations }}
{{- if and .Site.IsMultiLingual (gt (len $translations) 0) }}
<div class="widget-languages widget">
	<h4 class="widget__title">{{ T "languages_title" }}</h4>
	<div class="widget__content">
		<ul class="widget__list">
			{{- range $translations }}
			<li class="widget__item">
				<a class="widget-languages__link widget__link" href="{{ .RelPermalink }}">
					<span class="widget-languages__link-btn widget__link-btn btn">{{ .Language | upper }}</span>
					{{- with .Language.LanguageName }}
					<span class="widget-languages__link-text widget__link-text">{{ . | title | humanize }}</span>
					{{- end }}
				</a>
			</li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}