{{- $taxo := "categories" -}}
{{- with .Param $taxo }}
<div class="meta__item-categories meta__item">
	{{ partial "svg/category.svg" (dict "class" "meta__icon") }}
	<span class="meta__text">
		{{- range $index, $category := . }}
			{{- $name := . -}}
			{{- with $.Site.GetPage (printf "/%s/%s" $taxo ($name | anchorize)) }}
				{{- if gt $index 0 }}, {{ end -}}
				<a class="meta__link" href="{{ .RelPermalink }}" rel="category">{{ .Title }}</a>
			{{- end }}
		{{- end }}
	</span>
</div>
{{- end }}