{{ partial "header.html" . }}

	<div class="main-content mr-loop mr-content" role="main">
		{{ if not .IsHome }}
		<header class="page-header">
			<h1 class="page-title">{{ .Title }}</h1>
		</header>
		{{ end }}
		{{ $paginator := .Paginate ( where .Data.Pages "Section" "post") }}
		{{ range $paginator.Pages }}
		<article class="mr-loop-item post type-post hentry clearfix">
			{{ if .Params.thumbnail }}
			<figure class="mr-loop-thumb">
				<a href="{{ .Permalink }}">
					<img class="mr-image-placeholder" src="{{ .Params.thumbnail | absURL }}" alt="{{ .Title }}" />
				</a>
			</figure>
			{{ end }}
			<div class="mr-loop-content clearfix">
				<header class="mr-loop-header">
					<h3 class="entry-title mr-loop-title">
						<a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
					</h3>
					<div class="mr-meta mr-loop-meta">
						<svg class="icon icon-time" height="14" viewBox="0 0 16 16" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m8-.0000003c-4.4 0-8 3.6-8 8 0 4.4000003 3.6 8.0000003 8 8.0000003 4.4 0 8-3.6 8-8.0000003 0-4.4-3.6-8-8-8zm0 14.4000003c-3.52 0-6.4-2.88-6.4-6.4000003 0-3.52 2.88-6.4 6.4-6.4 3.52 0 6.4 2.88 6.4 6.4 0 3.5200003-2.88 6.4000003-6.4 6.4000003zm.4-10.4000003h-1.2v4.8l4.16 2.5600003.64-1.04-3.6-2.1600003z"/></svg>
						<time class="mr-meta-date updated" datetime="{{ .Date }}">{{.Date.Format "January 02, 2006"}}</time>
					</div>
				</header>
				<div class="mr-loop-excerpt">
					<div class="mr-excerpt">
						{{ .Summary }}
					</div>
				</div>
			</div>
		</article>
		{{ end }}

		{{ partial "pagination.html" . }}
	</div>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
