<footer class="footer">
	<div class="container container-inner footer-inner">
		{{ with .Site.Menus.footer -}}
		<div class="footer__menu">
			<ul>
				{{ range . }}
				<li>
					<a class="footer__link" href="{{ .URL }}">
						{{ .Pre }}<span>{{ .Name }}</span>
					</a>
				</li>
				{{ end }}
			</ul>
		</div>
		{{- end }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{  .Site.Params.copyright | default .Site.Title  }}.
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
		</div>
	</div>
</footer>
