{{- if .Site.Params.post_navigation }}
{{- if or (.PrevInSection) (.NextInSection) }}
<nav class="post-nav flex">
	{{- if .PrevInSection }}
	<div class="post-nav__item post-nav__item--prev">
		<a class="post-nav__link" href="{{ .PrevInSection.RelPermalink }}" rel="prev">
			<span class="post-nav__caption">«&thinsp;{{ T "post_nav_prev" }}</span>
			<p class="post-nav__post-title">{{ .PrevInSection.Title }}</p>
		</a>
	</div>
	{{- end }}
	{{- if .NextInSection }}
	<div class="post-nav__item post-nav__item--next">
		<a class="post-nav__link" href="{{ .NextInSection.RelPermalink }}" rel="next">
			<span class="post-nav__caption">{{ T "post_nav_next" }}&thinsp;»</span>
			<p class="post-nav__post-title">{{ .NextInSection.Title }}</p>
		</a>
	</div>
	{{- end }}
</nav>
{{- end }}
{{- end }}