{{- if or (and (eq .Kind "home") (in (.Param "homeLayout") "sidebar")) (and (eq .Kind "page") (in (.Param "singleLayout") "sidebar")) ((and (or (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") (eq .Kind "section")) (in (.Param "listLayout") "sidebar"))) }}
<aside class="sidebar
	{{- if eq .Kind "home" -}}
		{{- if in (.Param "homeLayout") "left sidebar" }} sidebar--left{{ end }}
	{{- else if eq .Kind "page" }}
		{{- if in (.Param "singleLayout") "left sidebar" }} sidebar--left{{ end }}
	{{- else }}
		{{- if in (.Param "listLayout") "left sidebar" }} sidebar--left{{ end }}
	{{- end }}">
	{{ partial "widgets/search.html" . }}
	{{ partial "widgets/recent.html" . }}
	{{ partial "widgets/categories.html" . }}
	{{ partial "widgets/social.html" . }}
	{{ partial "widgets/taglist.html" . }}

	{{- if and (not .Site.Params.widgets.search) (not .Site.Params.widgets.recent_articles) (not .Site.Params.widgets.categories) (not .Site.Params.widgets.social) (not .Site.Params.widgets.taglist) }}
	<p class="sidebar__warning"><strong>{{ T "sidebar_warning" }}:</strong><br>{{ T "sidebar_recommendation" }}</p>
	{{- end }}
</aside>
{{- end }}